RewriteEngine ON
RewriteRule ^accueil$ index.php
RewriteRule ^inscription$ controllers/inscriptionController.php
RewriteRule ^connexion$ controllers/connexionController.php
RewriteRule ^deconnexion$ controllers/deconnexionController.php
RewriteRule ^réservation$ controllers/planeReservationController.php
RewriteRule ^réservation-perso$ controllers/reservationsController.php
RewriteRule ^modifier-resvervation$ controllers/modifieReservationController.php
